@model FirstWebApplication.Models.Customer


<h1>Customer Details</h1>

<p>Email: @Model.Email</p>
<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName</p>
<p>Age: @Model.Age</p>
<p>Phone: @Model.Phone</p>
<!-- Include other customer details -->
